@model LinkStorage.ViewModels.CreateRoleViewModel
@{
    ViewData["Title"] = "add Roles";
}



<div class="w-full max-w-xs">
  <h2 class="text-2xl mt-5 mb-4">Create new Role </h2>
  <form method="post" class="bg-white border-2 shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label asp-for="role" class="block text-gray-700 text-sm font-bold mb-2"></label>
      <input asp-for="role" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="USER">
    </div>

    <div class="flex items-center justify-between">

      <button class="bg-red-300 hover:bg-red-900 hover:text-white text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
       Create
      </button>

    </div>

  </form>
</div>

