@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LinkStorage</title>
    <link rel="stylesheet" href="css/styles.css" asp-append-version="true"/>
</head>
<body>
    <header>
        
             <nav class="bg-red-300 fixed w-full z-20 top-0 start-0  ">
                        <div class=" max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                            <a class="flex items-center space-x-3 rtl:space-x-reverse text-2xl border-l-2 border-red-900 ml-3 pl-1" asp-area="" asp-controller="Home" asp-action="Index">LinkStorage</a>
                           
                            <div class="flex flex-col p-4 justify-end items-end md:p-0 mt-4 font-medium  md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 " >
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    var UserId = UserManager.GetUserId(User);
                                    
                                        <a asp-controller="Users" asp-action="Profile" asp-route-id="@UserId" class="block py-2 px-3 text-white border-b-2 border-red-300 hover:border-red-900 md:bg-transparent md:text-white md:p-0 " >
                                            Hello, @User?.Identity?.Name
                                        </a>
                                }
                                else
                                {
                                     <a class="block py-2 px-3 text-black  hover:bg-red-900 md:hover:bg-transparent md:hover:text-red-900 md:p-0 " asp-controller="Account" asp-action="Login" > Login </a> 
                                    
                                     <a class="block py-2 px-3 text-black  hover:bg-red-900 md:hover:bg-transparent md:hover:text-red-900 md:p-0 " asp-controller="Account" asp-action="SignUp" > SignUp </a> 
                                    
                                }
                            </div>
                            
                            <div class="items-center justify-start w-full md:flex md:w-auto md:order-1">
                                <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 " >
                                    <li >
                                        <a class="block py-2 px-3 text-red-900 bg-red-900 hover:text-black md:bg-transparent md:text-red-900 md:p-0 " asp-area="" asp-controller="Home" asp-action="Index">
                                            <i class="fa-solid fa-house"></i>
                                            Home
                                        </a>
                                    </li>
                                    <li>
                                        <a  class="block py-2 px-3 text-black  hover:bg-red-900 md:hover:bg-transparent md:hover:text-red-900 md:p-0"   asp-area="" asp-controller="Links" asp-action="Explore">Explore</a>
                                    </li>
                                    <li>
                                         @if (SignInManager.IsSignedIn(User))
                                         {
                                             <form method="post" asp-controller="Account" asp-action="LogOut">
                                                 <button type="submit" class="block py-2 px-3 text-black  hover:bg-red-900 md:hover:bg-transparent md:hover:text-red-900 md:p-0">
                                                     Logout 
                                                 </button>
                                             </form>
                                         }
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2024 - LinkStorage - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
       
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
    
    
    </body>
</html>
