@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LinkStorage.ViewModels.LinksCreateViewModel
@{
    ViewData["Title"] = "Create Link";
}

<h3> Create a new link</h3>

<form method="post" asp-controller="Links" asp-action="Create" >
    <label asp-for="Link" ></label>
    <input asp-for="Link" type="url" />
    
    <br/>
    <br/>
    <br/>
    
    <label asp-for="Site" ></label>
    <input asp-for="Site" />
    
    <br/>
    <br/>
    <br/>
        
    <label asp-for="IsPublic" ></label>
    <input asp-for="IsPublic" />
    <br/>
        <br/>
    <input type="submit" value="Submit"/>
    

</form>

