@{
    ViewData["Title"] = "About";
}
    <div class="ml-36">
        <p class="text-lg"> LinkStroage is a platform for the people to share their with people favorite content over the internet all for fun</p>
        
    </div>
