@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LinkStorage</h1>
    <p>GitHub Repo Link to <a href="https://github.com/Imdad-Rind/LinkStroage"> LinkStorage</a>.</p>
</div>
